*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.7rem;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 1rem;
}
nav ul li a:hover{
     border-bottom:3px solid yellow ;
     padding-bottom: 10px;
     color: yellow;
}
.logo-text{
    color: yellow;
}


.header{
    position: relative;
    width: 100%;
    height:100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.header .content{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    z-index: 1;
}
.header .content div{
    width: 50%;
}
img {
    width: 400px;
    height: 400px;
}
.header .content .box-left{
    float: left;
    display: flexbox;
    justify-content: center;
}
.header .content .box-left h1{
    color: white;
    font-weight: normal;
    font-size: 3rem;   
    text-align: center;
    z-index: 1;
}

.header .content .box-left button{

   background-color: black;
   color: #fff;
   font-size: 34px;
   padding: 10px 35px;
   border-radius: 6px;
   margin-top: 50px;
   margin-left: 170px;
}

.header .content .box-right{
    float: right;
    display: flex;
    justify-content: flex-end;
}

.header .video{
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.header .video .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(51, 191, 242, 0.7) ;
    width: 100%;
    height: 100vh;
}

.header .content .box-right img:hover{
    animation: rotation 4s infinite linear;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}